alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1599849174714/work
appdirs==1.4.4
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1600699146221/work
chardet==3.0.4
click==7.1.2
cryptography @ file:///tmp/build/80754af9/cryptography_1601046815590/work
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Migrate==2.4.0
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1594747318500/work
gunicorn==20.0.4
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
itsdangerous==1.1.0
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1595925083607/work
MarkupSafe==1.1.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603570489231/work
pandas @ file:///tmp/build/80754af9/pandas_1602088120436/work
psycopg2 @ file:///tmp/build/80754af9/psycopg2_1594305108220/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598376899566/work
scipy @ file:///tmp/build/80754af9/scipy_1597686649129/work
six==1.15.0
soupsieve==2.0.1
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1602547018298/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
virtualenv==20.1.0
virtualenv-clone==0.5.4
Werkzeug==1.0.1
