@import url('https://fonts.googleapis.com/css?family=Roboto');

@viewport {
    width: device-width;
    zoom: 1.0;
}

html { color: #f0f1f2; font-family: 'Roboto'; font-size: 3.5vw}

header { font-size: 3.5vw; width: 90%; margin: 0; }
header h1 { font-size: 5.25vw }

body { background: #14181c; width: 95%; height: 80%; margin: 0; }

a:link { color: #9ab; }
a:visited { color: #40bcf4; }

nav {
    display: flex; align-items: center; padding: 2vw;
    width: 95%; height: 12.5%;
}
nav h1 { flex: auto; margin: 0; }

.content {
    background: #1e252c; height: 90%; padding: 1rem;
}
.content h2 { font-size: 4.75vw}
.content form {
    margin: 1em 0; width: 100%; height: auto;
}

.stats {
    background: inherit; padding: 1rem; color: #14181c; text-align: center;
    display: flex; flex-direction: column; justify-content: center; margin: auto;
}
.stats > div {
    width: 80%; height: 80%; background: #adedff; padding: 1.75rem 0.25rem 0.5rem 0.5rem;
    margin: 10px; vertical-align: middle;
}
.stats h1 { font-size: 4.75vw }

footer {
    width: 90%; height: 10%; background: #14181c; padding: 0.5rem; margin: 0;
}
footer ul { list-style: none; }
footer .github-logo { width: 8vw; height: auto; }

