@import url('https://fonts.googleapis.com/css?family=Roboto');

@viewport {
    width: device-width;
    zoom: 1.0;
}

html { color: #f0f1f2; font-family: 'Roboto'; font-size: 4vw; }

header { width: 100%; height: 10%; margin: 0; padding: 0; }
header h1 { font-size: 1.75rem; padding: 0; margin: 0.75vw 0 1vw 0; }

body { background: #14181c; width: 100%; height: 80%; margin: 0; padding: 0; }

a { color: #40bcf4; }

nav {
    display: flex; align-items: center; padding: 1rem 0.5rem 1rem 0.5rem; text-align: center;
    width: 90%; height: 12.5%; margin: 0;
}
nav a { text-decoration: none; }
nav h1 { font-size: 2rem; flex: auto; margin: 0; text-align: center; }
.picture { color: #8cc8ff; }
.preference { color: #ffb15e; }

.content {
    background: #1e252c; height: 90%; padding: 1rem;
}
.content h2 { font-size: 1.5rem; display: inline-block; vertical-align: middle; margin: 0.5rem 0 0.5rem 0; }
.content input {
    padding: 0.5em; width: 80%; ; display: inline-block; vertical-align: middle; font-size: inherit;
    border-radius: 1rem; color: #14181c; padding-left: 0.5rem;
}
.content .explain {
    overflow: hidden;
    -webkit-transition: height 400ms ease-out;
    -moz-transition: height 400ms ease-out;
    -o-transition: height 400ms ease-out;
    transition: height 400ms ease-out;
}
.content #explain { font-size: 1.1rem; }
.content input:focus { outline-width: 0; }
.content h3 { font-size: 1.2vw; }

.search-results {
    display: none; position: relative; margin: 0 0 0 0;
    overflow: hidden;
    -webkit-transition: height 400ms ease-out;
    -moz-transition: height 400ms ease-out;
    -o-transition: height 400ms ease-out;
    transition: height 400ms ease-out;
}
.search-results h3 { font-size: 1rem; }
.search-results .list-item { margin: 1vw 0.75vw 1vw 0.75vw; vertical-align: middle; overflow: auto; width: 92vw; }
.search-results form { display: inline; vertical-align: middle; overflow: auto; width: inherit; height: auto; }
.search-results .film-button {
    border: none; background-color: inherit; padding: 0.75vw 0.75vw; color: inherit; font-size: 1.25rem; cursor: pointer;
    display: inline-block; vertical-align: middle; overflow-wrap: normal; white-space: normal; text-align: left;
    margin-top: 0.5rem; width: 65vw; height: auto;
}
.search-results .poster-button {
    display: inline-block; width: 18vw; height: 27vw; margin: 0 1vw 0 2vw; vertical-align: middle; padding: 0;
    background-size: 100%; border: none; cursor: pointer;
}
.list-item { display: inline-block; }

.stats {
    background: inherit; padding: 1rem; color: #14181c; text-align: center; padding-top: 0;
    display: flex; flex-direction: column; align-items: center; margin: auto; overflow: auto;
}
.stats > div {
    width: 80%; padding: 1rem 0.5rem 1rem 0.5rem; margin: 10px 0 10px 0; vertical-align: middle; border-radius: 1rem;
    overflow: auto;
}
.stats h1 { font-size: 4.75vw; margin: 0.75rem 0 0.75rem 0; }
.rank { background: #adedff }
.obscurity { background: #ffb15e }
.over-9000 {
    border-radius: 1rem; display: block; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;
    width: 60vw; height: auto;
}
.easter-egg-img { display: block; margin: auto; height: 40vw; max-width: 100%; border-radius: 1rem; }
.easter-egg-text {
    font-size: 0.75rem; display: block; margin: auto; width: 80%; text-align: center; margin-top: 0.5rem;
}
.recommendations h2 { margin-top: 1.5rem; }
.recommendations h3 { font-size: 1rem; }
.recs-list { display: inline-block; }
.title {
    padding: 0.75vw 0.75vw; color: inherit; font-size: 1.25rem; display: inline-block; vertical-align: middle;
    overflow-wrap: normal; white-space: normal; text-align: left; margin-top: 0; width: 65vw; height: auto;
}
.poster {
    display: inline-block; width: 18vw; height: 27vw; margin: 0 1vw 0 2vw; vertical-align: middle; padding: 0;
    background-size: 100%; border: none;
}

#dev-statement { font-size: 1rem; }

footer {
    width: 100%; height: 10%; background: #14181c; padding: 0; margin: 0;
}
footer ul { list-style: none; padding-left: 0.2rem; }
footer li { display: inline; font-size: 0.75rem; margin: 0; padding-left: 0.2rem; vertical-align: middle; }
footer a { color: #8cc8ff; }
footer .github-logo {
    width: 8vw; height: auto; float: right; margin: 0 4vw 0 0; padding-bottom: 1rem;
}
